Beetle.Redis/RedisClientSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Beetle.Redis" elementFormDefault="qualified" targetNamespace="urn:Beetle.Redis" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="redisClientSection" type="tns:Beetle.Redis.RedisClientSectionCT" />
	<xs:complexType name="Beetle.Redis.RedisClientSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="reads" type="tns:Beetle.Redis.HostItemCollectionCT">
				<xs:annotation>
					<xs:documentation>The Reads.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="writes" type="tns:Beetle.Redis.HostItemCollectionCT">
				<xs:annotation>
					<xs:documentation>The Writes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="dB" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The DB.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cached" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Cached.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Redis.HostItemCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="connections" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Connections.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Redis.HostItemCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Beetle.Redis.HostItemCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Beetle.Redis.HostItemCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Beetle.Redis.HostItemCT">
				<xs:annotation>
					<xs:documentation>The HostItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Beetle.Redis.HostItemCollectionRemoveCT">
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Beetle.Redis.HostItemCollectionClearCT" />
</xs:schema>
